@font-face {
    font-family: Helvetica-Neue;
     src: url('../fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: Helvetica-Neue-light;
     src: url('../fonts/HelveticaNeue Light.ttf') format('truetype');
}

@font-face {
    font-family: Helvetica-Neue-bold;
     src: url('../fonts/Helvetica Neu Bold.ttf') format('truetype');
}

body{
	margin: 0;
	padding: 0;
   font-family: Helvetica-Neue, sans-serif;
}

h1{
    font-family: Helvetica-Neue-light;
    font-size: 40px;
    color: #494949;
    margin-top: 0;
}

label{
    font-family: Helvetica-Neue-bold;
    font-weight: 300;
    color: #b7b1b1;
    font-size: 12px;
    text-rendering: optimizeLegibility;
    margin-bottom: 5px;
}

.task-form{
    -webkit-box-shadow: -5px 2px 15px 3px rgba(190,194,194,0.75);
    -moz-box-shadow: -5px 2px 15px 3px rgba(190,194,194,0.75);
    box-shadow: -5px 2px 15px 3px rgba(190,194,194,0.75);
}

.fixed-header {
    background-color: #2DAEBF;
}

.fixed-header .navbar-header .navbar-brand{
    color: #fff;
    padding: 5px 0;
}

.fixed-header .navbar-right li a,.fixed-header .navbar-right li a:hover,.fixed-header .navbar-right li a:focus{
    color: #fff;
}



.header{
	background-color: #0099ff;
    border-radius: 7px 7px 0 0;
    color: #fff;
    height: 60px;
    padding: 12px 20px;
}

.header-text{
	display: inline-block;
    font-size: 18px;
    line-height: 37px;
    margin: 0
}

.logo{
	display:none;
    text-align: center;
    margin-bottom: 15px;
}

.task-form{
	padding: 15px;
}

.log-time{
	padding: 2px 2px 2px 12px;
}

.bgWhite{background:#fff;}
.spacer{padding:15px; width:100%;}
.spacer-inner{padding:10px 0;}
.blockSpacer{padding:10px; background:#fff; margin-bottom: 20px;}
.dataTables_wrapper .dataTables_paginate .paginate_button{padding:0;}

/* new css added -AMAL */
.no-margin{
    margin:0;
}

.alert-border{
    border:1px solid #D8000C;
    outline: 0;
}

.warning-text{
    color: #d9534f;
}

.success-text{
    color: #5cb85c;
}

.confirmation-box{
    color:firebrick;
    font-size: 16px;
}

.table a{
    cursor: pointer;
}

.form-control{
    background: transparent;
}

#after-delete{
    display: none;
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 1;
    width: 100%;
    text-align: center;
}

#addProjectButton{
    display: block;
    margin-top: 2px;
}

.date-range-report{
    display: inline-block;
}

.date-range-report .form-control{
    display: inline-block;
}
.spacer{margin-bottom: 20px; clear: both;}
.ind-proj-details input, .ind-proj-details button{
    display:inline;
  }
  ul .dropdown-menu li a{
    color:rgba(0, 0, 0, 0.6)!important;
  }
