html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  /*margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;*/ }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.ui-datepicker.ui-widget {
  background: rgba(45, 174, 191, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px); }

.ui-datepicker {
  padding: 0; }

.ui-datepicker-header {
  border: none;
  background: transparent;
  font-weight: normal;
  font-size: 15px; }

.ui-datepicker-header .ui-state-hover {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  border-radius: 0; }

.ui-datepicker .ui-datepicker-title {
  margin-top: .4em;
  margin-bottom: .3em;
  color: #fff; }

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
  top: .9em;
  border: none; }

.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px; }

.ui-datepicker .ui-datepicker-next-hover {
  right: 2px; }

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
  background-image: url(images/ui-icons_ffffff_256x240.png);
  background-position: -32px 0;
  margin-top: 0;
  top: 0;
  font-weight: normal; }

.ui-datepicker .ui-datepicker-prev span {
  background-position: -96px 0; }

.ui-datepicker table {
  margin: 0; }

.ui-datepicker th {
  padding: 1em 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: normal;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }

.ui-datepicker td {
  background: #fff;
  border: none;
  padding: 0; }

.ui-datepicker td .ui-state-default {
  background: transparent;
  border: none;
  text-align: center;
  padding: 1em 0.5em;
  margin: 0;
  font-weight: normal;
  color: rgba(45, 174, 191, 0.5);
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

.ui-datepicker .ui-state-disabled {
  opacity: 1; }

.ui-datepicker .ui-state-disabled .ui-state-default {
  color: rgba(0, 0, 0, 0.3); }

.ui-datepicker td .ui-state-active,
.ui-datepicker td .ui-state-hover {
  /*background: rgba(45, 174, 191, 0.15);
  border-radius: 3px;
  color: black;*/ }

.dataTables_wrapper .dataTables_scroll {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px; }
.dataTables_wrapper .dataTables_scrollHeadInner {
  background: rgba(0, 0, 0, 0.03); }
.dataTables_wrapper .dataTables_filter {
  margin-bottom: 20px; }

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0; }

.dataTables_info {
  font-size: 14px; }

a.dt-button:active:not(.disabled):hover:not(.disabled) {
  border: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.07);
  box-shadow: none; }

a.dt-button:last-child:active:not(.disabled):hover:not(.disabled) {
  border: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.07);
  box-shadow: none; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.navbar-right {
  margin-right: 0; }

textarea {
  resize: none; }



.enter-todays-task.editing-mode .enter-task-form-group {
  position: relative;
  z-index: 1100; }
.enter-todays-task.editing-mode .overlay-edit-mode {
  display: block; }
.enter-todays-task.editing-mode .exit-edit-mode {
  display: block; }
.enter-todays-task .overlay-edit-mode {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.65);
  left: 0;
  top: 0;
  z-index: 1099;
  display: none; }
.enter-todays-task .visible-textbox {
  position: relative;
  z-index: 2; }
.enter-todays-task .i-worked-today-text .input-text {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  line-height: 150%;
  width: 100%;
  font-size: 30px;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px; }
  .enter-todays-task .i-worked-today-text .input-text:focus {
    outline: none;
    box-shadow: none; }
.enter-todays-task .other-info-control-wrap {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  top: -60px;
  position: relative;
  z-index: 1; }
  .enter-todays-task .other-info-control-wrap.slide-show-down {
    top: 15px;
    opacity: 1;
    z-index: 2; }

.dropdown-menu.inner {
  /*min-height: 260px;*/ }
  .dropdown-menu.inner li a {
    /*padding: 12px 20px;*/
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .dropdown-menu.inner li a:hover {
     /* background: rgba(45, 174, 191, 0.04);
      color: #238896;*/ }
  .dropdown-menu.inner .no-results {
    margin: 0;
    padding: 20px 14px; }

.bs-searchbox {
  padding: 6px; }

/*.bootstrap-select.btn-group > .dropdown-menu {
  box-shadow: none;
  border: 1px solid rgba(45, 174, 191, 0.4);
  border-radius: 2px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  padding: 0;
  margin: 0; }*/
  /*.bootstrap-select.btn-group > .dropdown-menu .active a {
    background: rgba(45, 174, 191, 0.15);
    color: black; }
  .bootstrap-select.btn-group > .dropdown-menu:hover {
    color: #238896; }*/
.bootstrap-select.btn-group .btn:active, .bootstrap-select.btn-group .btn:focus, .bootstrap-select.btn-group .btn:hover {
  z-index: 1; }

div#ui-datepicker-div {
  z-index: 9999 !important; }

.info-related-to-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

    #addTaskForm .slide-show-down .info-related-to-task .list-item-info .bootstrap-select{width:190px;}
  .time-info input[type="text"]{width:45%; margin:0 2.4%; display: inline;}

#addTaskForm .slide-show-down .info-related-to-task .list-item-info:last-child{flex-grow: 1;}
    .info-related-to-task .list-item-info:last-child {
      margin-left: auto;
      margin-right: 0; }


        .info-related-to-task .list-item-info .set-duration-group .form-control + .form-control {
          margin-left: auto; }

.exit-edit-mode {
  position: absolute;
  right: -6px;
  display: none;
  top: -40px;
  z-index: 2; }
  .exit-edit-mode .close {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("../images/close.png") no-repeat;
    opacity: 0.6; }

.table.dataTable thead th {
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: #aaaaaa; }
.table.dataTable tbody td {
  padding: 12px 18px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6); }
  .table.dataTable tbody td a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .table.dataTable tbody td a.editTask:hover {
      color: #2DAEBF; }
    .table.dataTable tbody td a.deleteTask:hover {
      color: #ff0000; }

.form-control {
  border-radius: 3px;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  height: 40px; }
  .form-control:hover {
    border-color: rgba(0, 0, 0, 0.1);
    background: transparent; }
  .form-control:focus, .form-control:active {
    box-shadow: none;
    border-color: rgba(45, 174, 191, 0.6);
    /*background: rgba(45, 174, 191, 0.05);*/ }
  .form-control.alert-border {
    border-color: rgba(255, 0, 0, 0.6);
    background: rgba(255, 0, 0, 0.05); }
  .reports .form-control.hasDatepicker {
    width: 120px; }

.btn {
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.1);
  height: 40px;
  min-width: 100px; }
  .btn + .btn {
    margin-left: 15px; }
  .btn:hover, .btn:focus, .btn:active, .btn:active:hover {
    outline: none;
    box-shadow: none; }
  .btn-primary {
    background-color: #2DAEBF;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s; }
    .btn-primary:hover, .btn-primary:focus {
      background: #299fae;
      border-color: #299fae; }
    .btn-primary:active, .btn-primary:active:hover {
      background: #2797a6;
      border-color: #2797a6; }
  .btn-default {
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s; }
    .btn-default:hover, .btn-default:focus {
      background: rgba(0, 0, 0, 0.05);
      border-color: rgba(0, 0, 0, 0.05); }
    .btn-default:active, .btn-default:active:hover {
      background: rgba(0, 0, 0, 0.05);
      border-color: rgba(0, 0, 0, 0.05); }

.bootstrap-select .dropdown-toggle.btn:hover {
  border-color: rgba(0, 0, 0, 0.1);
  background: transparent; }
.bootstrap-select .dropdown-toggle.btn:focus, .bootstrap-select .dropdown-toggle.btn:active {
  box-shadow: none;
  border-color: rgba(45, 174, 191, 0.6);
  background: rgba(45, 174, 191, 0.05);
  outline: none !important; }

.btn-group.open .dropdown-toggle {
  box-shadow: none; }

.btn-group.open .dropdown-toggle {
  background: #fff; }

.warning-text {
  font-size: 14px;
  color: rgba(255, 0, 0, 0.6); }

.dataTables_wrapper .dt-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 5px; }
  .dataTables_wrapper .dt-buttons .dt-button {
    margin-right: 0;
    border: 0;
    background: transparent;
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
    .dataTables_wrapper .dt-buttons .dt-button:last-child {
      border: 0; }
      .dataTables_wrapper .dt-buttons .dt-button:last-child:hover {
        border-right: 0; }
      .dataTables_wrapper .dt-buttons .dt-button:last-child:active, .dataTables_wrapper .dt-buttons .dt-button:last-child:focus {
        border-right: 0 solid rgba(0, 0, 0, 0.1); }
    .dataTables_wrapper .dt-buttons .dt-button:hover {
      border: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      background: rgba(0, 0, 0, 0.05); }
    .dataTables_wrapper .dt-buttons .dt-button:active, .dataTables_wrapper .dt-buttons .dt-button:focus {
      box-shadow: none;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      background: rgba(0, 0, 0, 0.05); }

.blur-overlay {
  -webkit-filter: blur(6px);
  filter: blur(6px); }

.modal-backdrop {
  /*background: rgba(255, 255, 255, 0.65);*/ }

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none; }

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none; }

.modal-content {
  box-shadow: none;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all; }
  .modal-content .confirmation-box {
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 150%; }
    .modal-content .confirmation-box p {
      margin: auto; }
  .modal-content .modal-footer {
    background: rgba(0, 0, 0, 0.03); }
  .modal-content .form-control.hasDatepicker {
    width: 100%; }

.modal-with-form .form-group {
  position: relative; }
  .modal-with-form .form-group label,#addTaskForm .form-group label{
    font-size: 12px;
    color: #2DAEBF;
    font-weight: 600;
    margin-bottom: 5px; }

.modal-sm {
  width: 400px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  padding: 6px 18px;
  margin: 8px 0px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  color: #fff;
  font-size: 14px; }
