

*{
    box-sizing: border-box;
    margin: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.login-background {
     background:url('../images/login-bg.jpg') no-repeat center center fixed;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    filter: blur(10px);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.wrapper-login{

  height: 100vh;
    overflow-x: hidden;
  display: -webkit-flex;
  display:flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;


}

.login-container{
    width:780px;
    box-shadow: -5px -5px 10px grey;
    height: 500px;
    display: flex;
    -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 1;

}
.overlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    background: #2daebf;
    opacity: 0.93;
    bottom: 0;
}
.login-box{
    background: #fff;
    height: 100%;
    flex: 0 0 60%;
    display: flex;
    padding: 40px;
    flex-direction: column;
    order: 2;

}

.login-box .alert{
    width: 100%;
    margin-bottom:0;
    display: none;
    padding: 5px;
}

.image-box{
   display: flex;
    position: relative;
    height: 500px;
    flex:0 0 40%;
    background: transparent;

    position: relative;
    order: 1;
     -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
    color: #fff;
}

.image-box img{
    z-index: 1;
}


.image-box .image-text{
    position: absolute;
    width: 100%;
    text-align: center;
    color: #003366;
   letter-spacing: 2px;;


}

.login-box .logo img{
    height: 50px;
    width: 50px;
}
.login-box-heading {
    color: #A1A5AA;

}

.login-form{
    margin: 20px 0;
}

.login-form .form-group{
    position: relative;
    margin-bottom: 20px;
}

.login-form hr{
    margin: 0 0 10px  0;
}

.login-form .form-group i{
    position: absolute;
    top: 35px;
    color: #25AFBF;
    left: 0;
}

.login-form .form-group input{
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #f0f0f0;
    padding: 0 10px;
    font-size: 14px;
    color: #857e7e;
}

.login-form button{
    width: 100%;
    color: #FFF;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    background: #25AFBF;
    height: 40px;
    line-height: 1
}

.login-form button:hover,.login-form button:focus{
    color: #fff;
    outline: 0;
    background: #25AFBF;

}
.signup{
    margin: 15px 0;
}

.shadow-effect{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadow-effect:before, .shadow-effect:after
{
	content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}

.shadow-effect:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

.report-link{
    margin-right: 10px;;
}

/* MEDIA QUERIES */
@media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    .login-container{
        width: calc(100% - 30px);
    }
}
