// HEADER
.top-header{
	  margin-left: 145px;

	.task-header{
		position: fixed;
	    z-index: 9999;
	    background-color: #fff;
	    width: calc(100% - 146px);
	}
	.top-nav{
		border: 1px solid #f0f0f0;
		height: 70px;
		box-shadow: 0 3px 4px 0 rgba(219, 219, 219, 0.5);
	    padding: 15px 100px;
	    z-index: 99;

		.add-project-details{
				.worked-on, .block-two, .select-project, .date-time, .time, .date, .add-project{
  				display: inline-block;
  				vertical-align: top;
  			}

			.worked-on{
  				.task{
  					border: 0px solid;
  					width: 100%;
  					padding: 5px 0;
  					font-size: $font-large;
  					color: $light-black;
  					line-height: 1.5em;

  					&:hover{
						border: 0px solid;
						outline: none;
					}
					&:active{
						border: 0px solid;
						outline: none;
					}
					&:focus{
						border: 0px solid;
						outline: none;
						color: $light-black;
					}
  				}
  			}


  			.header-label{
  				color: #989898;
  				font-size: 13px;
  				line-height: 1.5em;
  			}

  			.block-two{

  				
  				.select-project-wrapper{
					display: inline-block;
					vertical-align: top;
  				}

  				.select-project{
	  				cursor: pointer;
					padding: 0 10px;
					position: relative;
	  				.header-label{
	  					font-size: 13px;
	  					font-weight: 600;
	  					margin-left: 5px;
	  				}

					.bs-caret{
						display: none;
					}

					.addproject-icon{
						position: absolute;
						top: 6px;
						z-index: 999;
						left: 16px;
					}

					.bootstrap-select>.dropdown-toggle {
						border: none;
						padding: 6px 12px;
					}

					.bootstrap-select.btn-group .dropdown-toggle .filter-option {
						background: url("../images/addProject.svg") no-repeat;
						padding-left: 35px;
						min-height: 100%;
						min-width: 100%;
						width: 175px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.btn-default {
						.active,
						.open > .dropdown-toggle.btn-default,
						&:hover, &:focus, &:active,
						.bootstrap-select .dropdown-toggle:hover,
						.bootstrap-select .dropdown-toggle:focus,
						.bootstrap-select .dropdown-toggle:active{
							background-color: $white!important;
							outline: none!important;
							box-shadow:none;
						}
					}

					.dropdown-menu {
						>.active{
							>a,
							>a:hover,
							>a:focus,
							>a:focus:active{
								background-color: $light-sky-blue;
								outline: 0;
								border:none;
							}
						}

						>a,
						>a:hover,
						>a:focus,
						>a:focus:active{
							background-color: $light-sky-blue;
							outline: 0;
							border:none;
						}
					}

					.btn-group.open .dropdown-toggle {
						background-color: $white!important;
						-webkit-box-shadow: none;
						box-shadow: none;
					}

					.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
						width: auto;
					}

					.bootstrap-select.btn-group .dropdown-menu {
						top: -22px;
						width: 220px;
						height: 365px;
						max-height: 370px!important;

						.inner{
							height: 360px!important;
							max-height: 310px!important;

							.no-results {
							    padding: 15px;
							    font-size: 13px;
							    font-weight: 600;
							    font-family: $font-family;
							}
						}
					}

					.bs-searchbox .form-control {
						border: none;
						&:focus{
							border-color: none;
							-webkit-box-shadow: none;
							box-shadow: none;
						}
					}

					.dropdown-menu > li >a{
						font-size: 11px;
						color: #606060;
						// line-height: 3.5em;
						padding: 15px 20px;
						text-transform: uppercase;
						&:hover{
					    	background-color:$light-sky-blue;
						}

						span.text{
							white-space: normal;
						}
					}

					.mark {
						width: 5px;
						height: 5px;
						border-radius: 50%;
						position: absolute;
						right: 22px;
						top: 18px;

						.airfinder{
							background-color: #3F6EEA;
						}
					}

	  			}

	  			.date-time{
	  				z-index: 999;

					.time {
						// margin: 0 10px;
						text-align: left;
						.hours, .mins, .date{
							width: 40px;
							display: block;
							border: none;
							font-size: 12px;
							font-weight: 600;
							padding: 1px;
							line-height: 15px;
  							color: $dim-grey;

							&:focus{
								outline: none;
							}
						}
					}
	  			}

	  			.mod-button{
	  				@include box(76px, 38px);
	  				vertical-align: middle;
	  				font-weight: 600;
			  		background-color: $white;
					border-color: $light-green;
					color: $light-green;
					outline: none;
					min-width: auto;

					&:hover,
					&:active:hover,
					&:active:focus{
					    background-color: $light-green;
						border-color: $light-green;
						box-shadow: none;
						color: $white;
					}


	  			}

  			}
		}


	}
}

// Date Picker CSS
#ui-datepicker-div{
	background-color: $white;
	box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.14);
	// left: auto!important;
	// right: 10px!important;
	// top: 10px!important;
	padding: 5px 20px 20px;
	width: 390px;

	&.ui-datepicker{
	 	.ui-datepicker-title {
			color: $deep-grey!important;
			font-size: 16px;
			line-height: 1.5;
			.ui-datepicker-month {
				font-weight: 600;
			}
			.ui-datepicker-year{
				font-weight: 400;
			}
		}

		.ui-datepicker-prev {
		    left: 80px;
		}

		.ui-datepicker-next {
		    right: 80px;
		}

		.ui-datepicker-prev span {
    		background-image: url("../images/previous.svg");
    		background-position: 0px 0px;
    		height: 100%;
			width: 100%;
    	}

    	.ui-datepicker-next span{
    		background-image: url("../images/next.svg");
    		background-position: 0px 0px;
    		height: 100%;
			width: 100%;
    	}


		.ui-datepicker-calendar{
			thead {
			    border-bottom: 3px solid #8c97b2;
			}
			th {
				color: $light-tone-grey;
				font-size: 12px;
				text-align: center;
				line-height: 1.5;
			}
		}

		td{
			position: relative;

			.ui-state-default {
				color: $dark-grey;
				font-size: $font-small;
				font-weight: 600;
				padding: 0.5em 1em;
				//padding: 0.8em 0.5em;
				line-height: 1.5;
			}

			.ui-state-hover{
				background-color: $white;
			}

			.ui-state-active::before {
				background-color: #949aa8;
				border-radius: 50%;
				color: #fff !important;
				content: " ";
				height: 26px;
				left: 50%;
				line-height: 0.7em;
				min-width: 24px;
				position: absolute;
				text-align: center;
				top: 50%;
				transform: translate(-50%, -50%);
				z-index: -1;
			}

			.ui-state-active {
				color: #fff !important;
				position: relative;
				z-index: 999;
			}
		}
	}
}
