// CONTENT
.content {

	padding: 110px 100px 30px 100px;

	.project-details{

		.total-work-hours{
			margin: 0 0 20px 5px;
			font-size: 13px;
			font-weight: 600;
			line-height: 1.5em;
			color: #424242;
		}

		.worked-on{
			// width: calc(100% - 504px);

			.work-detail{
				color: $dark-tone-grey;
				font-size: $font-regular;
				line-height: 1.5;
			}
		}

		.divider{
			margin: 25px 0 20px 0;
			border: 1px solid #f2f2f2;
			padding: 0 100px;
		}

		.block-two{

			.selected-project{
				color: $dark-grey;
				font-size: $font-small;
				font-weight: 600;
				overflow-wrap: break-word;
			}

			.selected-project, .date-time{
				display: inline-block;

				.data{
					line-height: 1.5;
				}

				.time{
					// &.min{
					// 	padding: 0 0 0 10px;
					// }
					&.hour{
						padding-left: 4px;
					}
					color: $midtone-grey;
					font-weight: 600;
					font-size: $font-small;
					display: inline-block;
  					// width: 56px;
				}
			}
		}

		.trash-icon{
			text-align: center;
			display: none;

		}
	}
}
.record {
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

	&:hover{
		background-color: $light-tone-blue;

		.trash-icon {
		    display: block;
		}
	}
}

.loggedToday.record, .loggedYesterday.record, .loggedOlder.record{
	
	padding-left: 20px;
}

.hoursToday {
    color: $light-black;
    font-size: $font-medium;
    font-weight: 600;
    line-height: 1.5em;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 12px;
}

.alert-border{border:1px solid #ff0000!important;}
#tasklogToday,#tasklogYesterday {
      margin-bottom: 50px;
      // padding-bottom: 50px;
      border-bottom: 1px solid #f7f7f7;
}

#editTaskDetail{
	.form-group > span {
	    color: #989898;
	    display: inline-block;
	    font-family: $font-family;
	    font-size: 13px;
	    font-weight: 600;
	    margin-bottom: 5px;
	}

	.open > .dropdown-menu {
	    top: -150px !important;
	}

	.mod-save-button{
		background-color: $light-green;
		color: $white;
		opacity: 0.8;
		&:hover{
	    	opacity: 1;
	    }
	}
}

.modal-header.blue-background{
	background-color: $dark-blue;
	color: $white;
	font-weight: 600;

	.close {
	    color: #fff;
	    opacity: 0.7;
	    &:hover{
	    	opacity: 1;
	    }
	}
}
