@media screen and (min-device-width: 480px)and (max-device-width: 768px){
  .image-box{
    height:auto;
    width:100%;
    flex:100%;
    padding: 15px 0;
  }
  .shadow-effect{
    box-shadow:none;
    padding:0 15px;
    height:auto;

    &:before,:after
    {
      box-shadow:none;
    }

    .login-box
    {
      flex:100%;
    }
  }
}
@media screen and (min-device-width: 320px)and (max-device-width: 480px){
  .image-box{
    height:auto;
    width:100%;
    flex:100%;
    padding: 15px 0;
  }
  .shadow-effect{
    box-shadow:none;
    padding:0 15px;
    height:auto;

    &:before,:after
    {
      box-shadow:none;
    }

    .login-box
    {
      flex:100%;
    }
  }
}
