@import "mixin";

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*icomoon Icons */
html {
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
letter-spacing: 0.5px;
}
/*End icomoon*/
ul,li
{
  margin:0;
  padding:0;
}
body
{
  font-family: $font-family;
  background: $white;
}
.noBorder
{
  border:none;
  *
  {
    border:none;
  }
}
input[type=text]::-ms-clear {
 display: none;
}

input[type="text"]::-webkit-input-placeholder, /* Chrome/Opera/Safari */
input[type="text"]::-moz-placeholder, 			/* Firefox 19+ */
input[type="text"]:-ms-input-placeholder ,		/* IE 10+ */
input[type="text"]:-moz-placeholder { 			/* Firefox 18- */
  color: $grey;
}


// Login Page Logo
.login-box{
	.logo{
		display: none;
		text-align: center;
		margin-bottom: 15px;
	}

	h1{
	    font-size: 38px;
		color: #494949;
		margin-top: 0;
		margin-bottom: 0;
	}

	label{
	    font-weight: 700;
	    color: #b7b1b1;
	    font-size: 13px;
	    text-rendering: optimizeLegibility;
	    margin-bottom: 5px;
	}


}
// LOGO
/* The style for sidebar logo */
.sidebar{
  width: 145px;
	background: $dark-blue;
	position: fixed;
	min-height: 100%;
	color: $white;
	transition:left 0.3s ease-in-out;
	z-index: 100;

	.logo{
		background:url('../images/logo.png') no-repeat center center $darkest-blue;
    background-size: 90px auto;
		@include box(100%, 70px);
		  margin: 0;
	    padding: 25px 27px;
		.logo-wrapper{
		    margin: 0px 10px 4px;
	    	text-align: center;
	    	cursor: pointer;
	    	display: table-cell;
	    	vertical-align: middle;
		}
		img{
			@include box(90px, 20px);
		}
	}

}


// SIDEBAR
/* CSS for the navigation panel on the left side of the page */

.wrapper{
	// height:100%;
	// position:relative;
	.top-margin-due-header-fixed{
			padding-top: 50px;
		}
}

.sidebar{


	.list {
		padding: 45px 10px;
		color: $white;
		height: 100%;
		font-size: $font-x-small;
		text-transform:uppercase;
		text-align: center;

		.profile-pic{
			@include box(40px);
			border-radius: 50%;
			overflow: hidden;
			img{
				@include box(100%, auto);
			}
		}

		.profile-text{
			display: block;
			margin-top: 5px;
			font-size: $font-x-small;
			line-height: 1.5em;
			font-weight: bold;
			letter-spacing: 1px;
		}
	}

	.nav{
		li{
			color:#565a73;
			height:auto;
			a.active{
				color: $white;
			}
			a{
				padding: 20px 15px;
				color: $white;
				height: 100%;
				font-size: $font-x-small;
				text-transform: uppercase;
				letter-spacing: 1px;

				&:hover{
					border-radius:0 !important;
					background: $blue;
				}
				&:active{
					color:$white;
					background: $blue;
				}
				&:focus,.icon:focus{
					color: $light-blue;
					background: $dark-blue;
					outline: medium none;
				}
				span.icon{
					position:absolute;
					width: 22px;
				}
				.side-text{
					color: $light-blue;
					font-weight: 400;
					display: block;
  					margin-top: 10px;
				}
				.nav-icons {
					@include box(22px);
				}

				&.active:after {
					right: 0;
					top: 50%;
					border: solid transparent;
					content: " ";
					@include box(0);
					position: absolute;
					pointer-events: none;
					border-color: rgba(255, 255, 255, 0);
					border-right-color: $white;
					border-width: 8px;
					margin-top: -10px;
				}

				&.active{
					.side-text{
						color: $white;
					}
				}

			}
		}
	}
	.nav-pills{  /* Overwrite some of the features of the bootstrap just for this section */
		& > li{
			& > a{
				border-radius:0;
				&:hover{
					color: $light-blue;
					background: $blue;
				}
			}
			&:focus{
			 	color: $light-blue;
				background: $blue;
			}
			a.active, a.active:hover, a.active:focus{
				background: $blue;
			}
		}
	}

	.notification {
		@include box(12px);
		background-color: $white;
		border-radius: 50%;
		position: absolute;
		right: 40%;
		font-size: 9px;
		color: #FF7474;
		font-weight: 600;
		line-height: 1.4em;
		text-align: center;
	}
  p#myHours {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    width: 100%;

    span{
      display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    }
}
}

.nav-stacked {
	li + li{
		margin:0;
	}
}




.large-screen{
	.no-margin{
		margin-left: 0;
		margin-right: 0;
	}
}

.editData img{
  width: 12px;
}
.deleteData img{
  width: 14px;
}
.deleteData, .editData{
  cursor: pointer;
  margin-right: 5px;
  line-height: 1.5;
}


.projectname-left-padding{
	padding-left: 48px;
}



.notasklogged{
  a{
    position:relative;
    &:after{
      position:absolute;
      bottom:0px;
      left:calc(50% - 2px);
      height:4px;
      width:4px;
      background:#ff0000;
      border-radius: 50%;
      content:"";
    }
  }
}

.hours{
	padding-left: 0;
}

.min{
	padding-left: 0;
}

.date {
	padding-left: 5px;
}
.singleuser
{
  margin-bottom: 40px;

  h4
  {
    margin:0;
    padding:0;

    span
    {
      font-size: $font-small;
    }
  }
  .allocatedProjects
  {
    margin-bottom: 15px;
  }
}
.overAllocated
{
  position:relative;

  &:before
  {
    content:"";
    height: 8px;
    width:8px;
    border-radius: 50%;
    background: #ff0000;
    position: absolute;
    left:-20px;
    top:6px;
  }
}
.expired
{
  color:#c6c6c6;
}
.expiringSoon
{
  color:#ff7926;
}
.allocation-heading
{
  margin-bottom: 30px;
}
// RESPONSIVE

@media (max-width: 1024px){

	// HEADER
	.top-header{
		.top-nav{
		    padding: 15px 30px;

		    .add-project-details{
		    	.block-two{
		    		.select-project {
		    			.bootstrap-select.btn-group .dropdown-toggle .filter-option {
							padding-left: 30px;
							width: 145px;
						}
		    		}
		    		.mod-button {
					    width: auto;
					}
		    	}
		    }


		}
	}

	.content {
		padding: 100px 30px 30px 30px;

		.project-details{
			.trash-icon{
				display: block;
			}

			.block-two{
				.selected-project{
					padding-left: 38px;
				}
			}
		}



	}

	.projectname-left-padding{
		padding-left: 20px;
	}

	.hours{
		padding-left: 0;
	}

	.min{
		padding-left: 0;
		padding-right: 10px;
	}

	.date{
		padding-left:5px;
	}

}

@media (max-width: 768px){
	.top-header {
		.top-nav {
			.add-project-details {
				.worked-on {
					.task{
						font-size:16px;
					}
				}

				.add-project{
					padding-left:0;
				}

				.block-two{

		    		.select-project {
		    			 padding: 0;

		    			.bootstrap-select.btn-group .dropdown-toggle .filter-option {
							width: 110px;
						}

						.bootstrap-select > .dropdown-toggle {
						    font-size: 13px;
						}
		    		}

		    		.date-time{

		  				.time{
		  					.hours,
		  					.mins,
		  					.date{
								font-size: 11px;
		  					}
		  				}
		  			}
		    	}

		    	.header-label {
				    font-size: 12px;
				}

			}
		}
	}

	.content{
		.hoursToday {
		    font-size: 13px;
		}

		.project-details {
			.block-two{
				.selected-project{
					padding-left: 35px;
				}
			}

			.data{
				font-size: 11px;
			}

			.worked-on {
				.work-detail{
					font-size: 12px;
				}
			}

			.trash-icon .editData img{
				width: 11px;
			}

			.trash-icon .deleteData img{
				width: 13px;
			}
		}

	}

	.large-screen{
		.no-margin{
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	.hours{
		padding-left: 6px;
	}

	.min, .trash-icon{
		padding-left: 10px;
		padding-right: 10px;
	}

	.date {
		padding-left: 15px;
	    padding-right: 10px;
	}


}
