/* Font Family */
	$font-family: 'Open Sans', sans-serif;

/* Font Size */
	$font-smallest:9px;
	$font-x-small:11px;
	$font-small:12px;
	$font-regular:14px;
	$font-medium:16px;
	$font-large:21px;

/* Font Color */
	$white: #FFFFFF;

	/*grey*/
	$grey: #abaaaa;
	$dim-grey: #5a5a5a;
	$light-grey:#F0F0F0;
	$light-tone-grey:#8c97b2;
	$midtone-grey:#c6c6c6;
	$dark-grey:#8e8e8e;
	$deep-grey: #444c63;
	$darkest-grey: #949aa8;
	$dark-tone-grey: #838181;

	/* black */
	$light-black: #424242;
	$light-tone-blue: #f1faff;

	/*blue*/
	$light-sky-blue: #edf2f2;
	$light-blue: #A0CCFF;
	$blue:#2C8ED0;
	$dark-blue:#3498DB;
	$darkest-blue:#2980B9;

	/* green */
	$light-green: #7ed321;
