/* Font Family */
/* Font Size */
/* Font Color */
/*grey*/
/* black */
/*blue*/
/* green */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*icomoon Icons */
html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: 0.5px; }

/*End icomoon*/
ul, li {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  background: #FFFFFF; }

.noBorder {
  border: none; }
  .noBorder * {
    border: none; }

input[type=text]::-ms-clear {
  display: none; }

input[type="text"]::-webkit-input-placeholder,
input[type="text"]::-moz-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #abaaaa; }

.login-box .logo {
  display: none;
  text-align: center;
  margin-bottom: 15px; }
.login-box h1 {
  font-size: 38px;
  color: #494949;
  margin-top: 0;
  margin-bottom: 0; }
.login-box label {
  font-weight: 700;
  color: #b7b1b1;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  margin-bottom: 5px; }

/* The style for sidebar logo */
.sidebar {
  width: 145px;
  background: #3498DB;
  position: fixed;
  min-height: 100%;
  color: #FFFFFF;
  transition: left 0.3s ease-in-out;
  z-index: 100; }
  .sidebar .logo {
    background: url("../images/logo.png") no-repeat center center #2980B9;
    background-size: 90px auto;
    width: 100%;
    height: 70px;
    vertical-align: top;
    display: inline-block;
    margin: 0;
    padding: 25px 27px; }
    .sidebar .logo .logo-wrapper {
      margin: 0px 10px 4px;
      text-align: center;
      cursor: pointer;
      display: table-cell;
      vertical-align: middle; }
    .sidebar .logo img {
      width: 90px;
      height: 20px;
      vertical-align: top;
      display: inline-block; }

/* CSS for the navigation panel on the left side of the page */
.wrapper .top-margin-due-header-fixed {
  padding-top: 50px; }

.sidebar .list {
  padding: 45px 10px;
  color: #FFFFFF;
  height: 100%;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center; }
  .sidebar .list .profile-pic {
    width: 40px;
    height: 40px;
    vertical-align: top;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden; }
    .sidebar .list .profile-pic img {
      width: 100%;
      height: auto;
      vertical-align: top;
      display: inline-block; }
  .sidebar .list .profile-text {
    display: block;
    margin-top: 5px;
    font-size: 11px;
    line-height: 1.5em;
    font-weight: bold;
    letter-spacing: 1px; }
.sidebar .nav li {
  color: #565a73;
  height: auto; }
  .sidebar .nav li a.active {
    color: #FFFFFF; }
  .sidebar .nav li a {
    padding: 20px 15px;
    color: #FFFFFF;
    height: 100%;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .sidebar .nav li a:hover {
      border-radius: 0 !important;
      background: #2C8ED0; }
    .sidebar .nav li a:active {
      color: #FFFFFF;
      background: #2C8ED0; }
    .sidebar .nav li a:focus, .sidebar .nav li a .icon:focus {
      color: #A0CCFF;
      background: #3498DB;
      outline: medium none; }
    .sidebar .nav li a span.icon {
      position: absolute;
      width: 22px; }
    .sidebar .nav li a .side-text {
      color: #A0CCFF;
      font-weight: 400;
      display: block;
      margin-top: 10px; }
    .sidebar .nav li a .nav-icons {
      width: 22px;
      height: 22px;
      vertical-align: top;
      display: inline-block; }
    .sidebar .nav li a.active:after {
      right: 0;
      top: 50%;
      border: solid transparent;
      content: " ";
      width: 0;
      height: 0;
      vertical-align: top;
      display: inline-block;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #FFFFFF;
      border-width: 8px;
      margin-top: -10px; }
    .sidebar .nav li a.active .side-text {
      color: #FFFFFF; }
.sidebar .nav-pills {
  /* Overwrite some of the features of the bootstrap just for this section */ }
  .sidebar .nav-pills > li > a {
    border-radius: 0; }
    .sidebar .nav-pills > li > a:hover {
      color: #A0CCFF;
      background: #2C8ED0; }
  .sidebar .nav-pills > li:focus {
    color: #A0CCFF;
    background: #2C8ED0; }
  .sidebar .nav-pills > li a.active, .sidebar .nav-pills > li a.active:hover, .sidebar .nav-pills > li a.active:focus {
    background: #2C8ED0; }
.sidebar .notification {
  width: 12px;
  height: 12px;
  vertical-align: top;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  right: 40%;
  font-size: 9px;
  color: #FF7474;
  font-weight: 600;
  line-height: 1.4em;
  text-align: center; }
.sidebar p#myHours {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  width: 100%; }
  .sidebar p#myHours span {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold; }

.nav-stacked li + li {
  margin: 0; }

.large-screen .no-margin {
  margin-left: 0;
  margin-right: 0; }

.editData img {
  width: 12px; }

.deleteData img {
  width: 14px; }

.deleteData, .editData {
  cursor: pointer;
  margin-right: 5px;
  line-height: 1.5; }

.projectname-left-padding {
  padding-left: 48px; }

.notasklogged a {
  position: relative; }
  .notasklogged a:after {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 2px);
    height: 4px;
    width: 4px;
    background: #ff0000;
    border-radius: 50%;
    content: ""; }

.hours {
  padding-left: 0; }

.min {
  padding-left: 0; }

.date {
  padding-left: 5px; }

.singleuser {
  margin-bottom: 40px; }
  .singleuser h4 {
    margin: 0;
    padding: 0; }
    .singleuser h4 span {
      font-size: 12px; }
  .singleuser .allocatedProjects {
    margin-bottom: 15px; }

.overAllocated {
  position: relative; }
  .overAllocated:before {
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #ff0000;
    position: absolute;
    left: -20px;
    top: 6px; }

.expired {
  color: #c6c6c6; }

.expiringSoon {
  color: #ff7926; }

.allocation-heading {
  margin-bottom: 30px; }

@media (max-width: 1024px) {
  .top-header .top-nav {
    padding: 15px 30px; }
    .top-header .top-nav .add-project-details .block-two .select-project .bootstrap-select.btn-group .dropdown-toggle .filter-option {
      padding-left: 30px;
      width: 145px; }
    .top-header .top-nav .add-project-details .block-two .mod-button {
      width: auto; }

  .content {
    padding: 100px 30px 30px 30px; }
    .content .project-details .trash-icon {
      display: block; }
    .content .project-details .block-two .selected-project {
      padding-left: 38px; }

  .projectname-left-padding {
    padding-left: 20px; }

  .hours {
    padding-left: 0; }

  .min {
    padding-left: 0;
    padding-right: 10px; }

  .date {
    padding-left: 5px; } }
@media (max-width: 768px) {
  .top-header .top-nav .add-project-details .worked-on .task {
    font-size: 16px; }
  .top-header .top-nav .add-project-details .add-project {
    padding-left: 0; }
  .top-header .top-nav .add-project-details .block-two .select-project {
    padding: 0; }
    .top-header .top-nav .add-project-details .block-two .select-project .bootstrap-select.btn-group .dropdown-toggle .filter-option {
      width: 110px; }
    .top-header .top-nav .add-project-details .block-two .select-project .bootstrap-select > .dropdown-toggle {
      font-size: 13px; }
  .top-header .top-nav .add-project-details .block-two .date-time .time .hours,
  .top-header .top-nav .add-project-details .block-two .date-time .time .mins,
  .top-header .top-nav .add-project-details .block-two .date-time .time .date {
    font-size: 11px; }
  .top-header .top-nav .add-project-details .header-label {
    font-size: 12px; }

  .content .hoursToday {
    font-size: 13px; }
  .content .project-details .block-two .selected-project {
    padding-left: 35px; }
  .content .project-details .data {
    font-size: 11px; }
  .content .project-details .worked-on .work-detail {
    font-size: 12px; }
  .content .project-details .trash-icon .editData img {
    width: 11px; }
  .content .project-details .trash-icon .deleteData img {
    width: 13px; }

  .large-screen .no-margin {
    margin-left: -15px;
    margin-right: -15px; }

  .hours {
    padding-left: 6px; }

  .min, .trash-icon {
    padding-left: 10px;
    padding-right: 10px; }

  .date {
    padding-left: 15px;
    padding-right: 10px; } }
.top-header {
  margin-left: 145px; }
  .top-header .task-header {
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    width: calc(100% - 146px); }
  .top-header .top-nav {
    border: 1px solid #f0f0f0;
    height: 70px;
    box-shadow: 0 3px 4px 0 rgba(219, 219, 219, 0.5);
    padding: 15px 100px;
    z-index: 99; }
    .top-header .top-nav .add-project-details .worked-on, .top-header .top-nav .add-project-details .block-two, .top-header .top-nav .add-project-details .select-project, .top-header .top-nav .add-project-details .date-time, .top-header .top-nav .add-project-details .time, .top-header .top-nav .add-project-details .date, .top-header .top-nav .add-project-details .add-project {
      display: inline-block;
      vertical-align: top; }
    .top-header .top-nav .add-project-details .worked-on .task {
      border: 0px solid;
      width: 100%;
      padding: 5px 0;
      font-size: 21px;
      color: #424242;
      line-height: 1.5em; }
      .top-header .top-nav .add-project-details .worked-on .task:hover {
        border: 0px solid;
        outline: none; }
      .top-header .top-nav .add-project-details .worked-on .task:active {
        border: 0px solid;
        outline: none; }
      .top-header .top-nav .add-project-details .worked-on .task:focus {
        border: 0px solid;
        outline: none;
        color: #424242; }
    .top-header .top-nav .add-project-details .header-label {
      color: #989898;
      font-size: 13px;
      line-height: 1.5em; }
    .top-header .top-nav .add-project-details .block-two .select-project-wrapper {
      display: inline-block;
      vertical-align: top; }
    .top-header .top-nav .add-project-details .block-two .select-project {
      cursor: pointer;
      padding: 0 10px;
      position: relative; }
      .top-header .top-nav .add-project-details .block-two .select-project .header-label {
        font-size: 13px;
        font-weight: 600;
        margin-left: 5px; }
      .top-header .top-nav .add-project-details .block-two .select-project .bs-caret {
        display: none; }
      .top-header .top-nav .add-project-details .block-two .select-project .addproject-icon {
        position: absolute;
        top: 6px;
        z-index: 999;
        left: 16px; }
      .top-header .top-nav .add-project-details .block-two .select-project .bootstrap-select > .dropdown-toggle {
        border: none;
        padding: 6px 12px; }
      .top-header .top-nav .add-project-details .block-two .select-project .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        background: url("../images/addProject.svg") no-repeat;
        padding-left: 35px;
        min-height: 100%;
        min-width: 100%;
        width: 175px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .top-header .top-nav .add-project-details .block-two .select-project .btn-default .active,
      .top-header .top-nav .add-project-details .block-two .select-project .btn-default .open > .dropdown-toggle.btn-default, .top-header .top-nav .add-project-details .block-two .select-project .btn-default:hover, .top-header .top-nav .add-project-details .block-two .select-project .btn-default:focus, .top-header .top-nav .add-project-details .block-two .select-project .btn-default:active,
      .top-header .top-nav .add-project-details .block-two .select-project .btn-default .bootstrap-select .dropdown-toggle:hover,
      .top-header .top-nav .add-project-details .block-two .select-project .btn-default .bootstrap-select .dropdown-toggle:focus,
      .top-header .top-nav .add-project-details .block-two .select-project .btn-default .bootstrap-select .dropdown-toggle:active {
        background-color: #FFFFFF !important;
        outline: none !important;
        box-shadow: none; }
      .top-header .top-nav .add-project-details .block-two .select-project .dropdown-menu > .active > a,
      .top-header .top-nav .add-project-details .block-two .select-project .dropdown-menu > .active > a:hover,
      .top-header .top-nav .add-project-details .block-two .select-project .dropdown-menu > .active > a:focus,
      .top-header .top-nav .add-project-details .block-two .select-project .dropdown-menu > .active > a:focus:active {
        background-color: #edf2f2;
        outline: 0;
        border: none; }
      .top-header .top-nav .add-project-details .block-two .select-project .dropdown-menu > a,
      .top-header .top-nav .add-project-details .block-two .select-project .dropdown-menu > a:hover,
      .top-header .top-nav .add-project-details .block-two .select-project .dropdown-menu > a:focus,
      .top-header .top-nav .add-project-details .block-two .select-project .dropdown-menu > a:focus:active {
        background-color: #edf2f2;
        outline: 0;
        border: none; }
      .top-header .top-nav .add-project-details .block-two .select-project .btn-group.open .dropdown-toggle {
        background-color: #FFFFFF !important;
        -webkit-box-shadow: none;
        box-shadow: none; }
      .top-header .top-nav .add-project-details .block-two .select-project .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: auto; }
      .top-header .top-nav .add-project-details .block-two .select-project .bootstrap-select.btn-group .dropdown-menu {
        top: -22px;
        width: 220px;
        height: 365px;
        max-height: 370px !important; }
        .top-header .top-nav .add-project-details .block-two .select-project .bootstrap-select.btn-group .dropdown-menu .inner {
          height: 360px !important;
          max-height: 310px !important; }
          .top-header .top-nav .add-project-details .block-two .select-project .bootstrap-select.btn-group .dropdown-menu .inner .no-results {
            padding: 15px;
            font-size: 13px;
            font-weight: 600;
            font-family: "Open Sans", sans-serif; }
      .top-header .top-nav .add-project-details .block-two .select-project .bs-searchbox .form-control {
        border: none; }
        .top-header .top-nav .add-project-details .block-two .select-project .bs-searchbox .form-control:focus {
          border-color: none;
          -webkit-box-shadow: none;
          box-shadow: none; }
      .top-header .top-nav .add-project-details .block-two .select-project .dropdown-menu > li > a {
        font-size: 11px;
        color: #606060;
        padding: 15px 20px;
        text-transform: uppercase; }
        .top-header .top-nav .add-project-details .block-two .select-project .dropdown-menu > li > a:hover {
          background-color: #edf2f2; }
        .top-header .top-nav .add-project-details .block-two .select-project .dropdown-menu > li > a span.text {
          white-space: normal; }
      .top-header .top-nav .add-project-details .block-two .select-project .mark {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        right: 22px;
        top: 18px; }
        .top-header .top-nav .add-project-details .block-two .select-project .mark .airfinder {
          background-color: #3F6EEA; }
    .top-header .top-nav .add-project-details .block-two .date-time {
      z-index: 999; }
      .top-header .top-nav .add-project-details .block-two .date-time .time {
        text-align: left; }
        .top-header .top-nav .add-project-details .block-two .date-time .time .hours, .top-header .top-nav .add-project-details .block-two .date-time .time .mins, .top-header .top-nav .add-project-details .block-two .date-time .time .date {
          width: 40px;
          display: block;
          border: none;
          font-size: 12px;
          font-weight: 600;
          padding: 1px;
          line-height: 15px;
          color: #5a5a5a; }
          .top-header .top-nav .add-project-details .block-two .date-time .time .hours:focus, .top-header .top-nav .add-project-details .block-two .date-time .time .mins:focus, .top-header .top-nav .add-project-details .block-two .date-time .time .date:focus {
            outline: none; }
    .top-header .top-nav .add-project-details .block-two .mod-button {
      width: 76px;
      height: 38px;
      vertical-align: top;
      display: inline-block;
      vertical-align: middle;
      font-weight: 600;
      background-color: #FFFFFF;
      border-color: #7ed321;
      color: #7ed321;
      outline: none;
      min-width: auto; }
      .top-header .top-nav .add-project-details .block-two .mod-button:hover, .top-header .top-nav .add-project-details .block-two .mod-button:active:hover, .top-header .top-nav .add-project-details .block-two .mod-button:active:focus {
        background-color: #7ed321;
        border-color: #7ed321;
        box-shadow: none;
        color: #FFFFFF; }

#ui-datepicker-div {
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.14);
  padding: 5px 20px 20px;
  width: 390px; }
  #ui-datepicker-div.ui-datepicker .ui-datepicker-title {
    color: #444c63 !important;
    font-size: 16px;
    line-height: 1.5; }
    #ui-datepicker-div.ui-datepicker .ui-datepicker-title .ui-datepicker-month {
      font-weight: 600; }
    #ui-datepicker-div.ui-datepicker .ui-datepicker-title .ui-datepicker-year {
      font-weight: 400; }
  #ui-datepicker-div.ui-datepicker .ui-datepicker-prev {
    left: 80px; }
  #ui-datepicker-div.ui-datepicker .ui-datepicker-next {
    right: 80px; }
  #ui-datepicker-div.ui-datepicker .ui-datepicker-prev span {
    background-image: url("../images/previous.svg");
    background-position: 0px 0px;
    height: 100%;
    width: 100%; }
  #ui-datepicker-div.ui-datepicker .ui-datepicker-next span {
    background-image: url("../images/next.svg");
    background-position: 0px 0px;
    height: 100%;
    width: 100%; }
  #ui-datepicker-div.ui-datepicker .ui-datepicker-calendar thead {
    border-bottom: 3px solid #8c97b2; }
  #ui-datepicker-div.ui-datepicker .ui-datepicker-calendar th {
    color: #8c97b2;
    font-size: 12px;
    text-align: center;
    line-height: 1.5; }
  #ui-datepicker-div.ui-datepicker td {
    position: relative; }
    #ui-datepicker-div.ui-datepicker td .ui-state-default {
      color: #8e8e8e;
      font-size: 12px;
      font-weight: 600;
      padding: 0.5em 1em;
      line-height: 1.5; }
    #ui-datepicker-div.ui-datepicker td .ui-state-hover {
      background-color: #FFFFFF; }
    #ui-datepicker-div.ui-datepicker td .ui-state-active::before {
      background-color: #949aa8;
      border-radius: 50%;
      color: #fff !important;
      content: " ";
      height: 26px;
      left: 50%;
      line-height: 0.7em;
      min-width: 24px;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1; }
    #ui-datepicker-div.ui-datepicker td .ui-state-active {
      color: #fff !important;
      position: relative;
      z-index: 999; }

.content {
  padding: 110px 100px 30px 100px; }
  .content .project-details .total-work-hours {
    margin: 0 0 20px 5px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5em;
    color: #424242; }
  .content .project-details .worked-on .work-detail {
    color: #838181;
    font-size: 14px;
    line-height: 1.5; }
  .content .project-details .divider {
    margin: 25px 0 20px 0;
    border: 1px solid #f2f2f2;
    padding: 0 100px; }
  .content .project-details .block-two .selected-project {
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 600;
    overflow-wrap: break-word; }
  .content .project-details .block-two .selected-project, .content .project-details .block-two .date-time {
    display: inline-block; }
    .content .project-details .block-two .selected-project .data, .content .project-details .block-two .date-time .data {
      line-height: 1.5; }
    .content .project-details .block-two .selected-project .time, .content .project-details .block-two .date-time .time {
      color: #c6c6c6;
      font-weight: 600;
      font-size: 12px;
      display: inline-block; }
      .content .project-details .block-two .selected-project .time.hour, .content .project-details .block-two .date-time .time.hour {
        padding-left: 4px; }
  .content .project-details .trash-icon {
    text-align: center;
    display: none; }

.record {
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px; }
  .record:hover {
    background-color: #f1faff; }
    .record:hover .trash-icon {
      display: block; }

.loggedToday.record, .loggedYesterday.record, .loggedOlder.record {
  padding-left: 20px; }

.hoursToday {
  color: #424242;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 12px; }

.alert-border {
  border: 1px solid #ff0000 !important; }

#tasklogToday, #tasklogYesterday {
  margin-bottom: 50px;
  border-bottom: 1px solid #f7f7f7; }

#editTaskDetail .form-group > span {
  color: #989898;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px; }
#editTaskDetail .open > .dropdown-menu {
  top: -150px !important; }
#editTaskDetail .mod-save-button {
  background-color: #7ed321;
  color: #FFFFFF;
  opacity: 0.8; }
  #editTaskDetail .mod-save-button:hover {
    opacity: 1; }

.modal-header.blue-background {
  background-color: #3498DB;
  color: #FFFFFF;
  font-weight: 600; }
  .modal-header.blue-background .close {
    color: #fff;
    opacity: 0.7; }
    .modal-header.blue-background .close:hover {
      opacity: 1; }

@media screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .image-box {
    height: auto;
    width: 100%;
    flex: 100%;
    padding: 15px 0; }

  .shadow-effect {
    box-shadow: none;
    padding: 0 15px;
    height: auto; }
    .shadow-effect:before, .shadow-effect :after {
      box-shadow: none; }
    .shadow-effect .login-box {
      flex: 100%; } }
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .image-box {
    height: auto;
    width: 100%;
    flex: 100%;
    padding: 15px 0; }

  .shadow-effect {
    box-shadow: none;
    padding: 0 15px;
    height: auto; }
    .shadow-effect:before, .shadow-effect :after {
      box-shadow: none; }
    .shadow-effect .login-box {
      flex: 100%; } }
