@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

*{
    box-sizing: border-box;
    margin: 0;
}


body{
    background-color: #EAECF1;
   font-family: 'Open Sans', sans-serif;

   
}

.wrapper{

  height: 100vh;
    overflow-x: hidden;
  display: -webkit-flex;
  display:flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

}

.login-container{
    width:1000px;
    box-shadow: -5px -5px 10px grey;
    height: 500px;
    display: flex;
    -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 1;
    
}
.login-box{
    background: #fff;
    height: 100%;
    width:350px;
    display: flex;
    -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
    flex-direction: column;
}

.image-box{
   
    height: 500px;
    flex:0 0 650px;
    background: url(../images/right-image.gif) center;
    position: relative;
}


.image-box .image-text{
    position: absolute;
    width: 100%;
    text-align: center;
    color: #003366;
   letter-spacing: 2px;;
    
   
}
.image-box .image-text h1{
    font-weight: 400;
}

.login-box .logo img{
    height: 50px;
    width: 50px;
}
.login-box-heading {
    color: #A1A5AA;
    
}
.login-box-heading h1{
    font-size: 24px;
}
.login-form{
    margin: 20px 0;
}

.login-form .form-group{
    position: relative;
}

.login-form hr{
    margin: 0 0 10px  0;
}

.login-form .form-group i{
    position: absolute;
    top: 10px;
    color: #25AFBF;
}

.login-form .form-group input{
    border: none;
    box-shadow: none;
    margin-left: 10px;;
}

.login-form button{
    width: 100%;
    color: #25AFBF;
    border-radius:25px ;
}

.login-form button:hover{
    color: #fff;
    background: #25AFBF;
    
}
.signup{
    margin: 15px 0;
}