body{
	margin: 0;
	padding: 0;
	background-color: #D4D4D4;
}

.wrapper {
	background-color: #fff;
    border-radius: 7px;
    margin-top: 20px;
    padding: 0;
}

.header {
	background-color: #0099ff;
    border-radius: 7px 7px 0 0;
    color: #fff;    
    height: 60px;
    padding: 12px 20px;
}

.header-text {
	display: inline-block;
    font-size: 18px;
    line-height: 37px;
    margin: 0
}

.logo {
	display: inline-block;
}

.task-form{
	padding: 15px;
}

label{
	color: #7E8285;
}

.log-time{
	padding: 2px 2px 2px 12px;
}