<script id="taskloglisttoday" type="text/x-tmpl-mustache">
  {{#worklog}}
  {{#loggedToday}}
          <li  class="loggedToday record col-md-12">
            <div class="row">
              <!-- <div class="container-fluid"> -->
                <div class="worked-on col-md-5 col-sm-4">
                  <span class="work-detail">
                    {{taskDescription}}
                  </span>
                </div>
                <div class="block-two col-md-7 col-sm-8">
                  <div class="selected-project col-md-4 col-sm-4">
                    <span class="data">{{projectName}}</span>
                  </div>
                  <div class="date-time large-screen col-md-6 col-sm-6">
                    <div class="no-margin">
                      <div class="time hours col-md-4 col-sm-4">
                        <span class="data">{{hours}} h</span>
                      </div>
                      <div class="time min col-md-4 col-sm-4">
                        <span class="data">{{minutes}} min</span>
                      </div>
                      <div class="time date col-md-4 col-sm-4">
                        <span class="data">{{shortDate}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="trash-icon col-md-2 col-sm-2">
                    <a onclick="editTask({{id}})" class="editData" data-id="{{id}}"><img src="images/edit.svg" /></a>
                    <a onclick="deleteTask({{id}})" class="deleteData" data-id="{{id}}"><img src="images/delete.svg" /></a>
                  </div>
                </div>

              <!-- </div> -->
            </div>
          </li>
          {{/loggedToday}}
  {{/worklog}}
</script>
<script id="taskloglistyesterday" type="text/x-tmpl-mustache">
  {{#worklog}}
  {{#loggedYesterday}}
          <li  class="loggedYesterday record col-md-12">
            <div class="row">
              <!-- <div class="container-fluid"> -->
                <div class="worked-on col-md-5 col-sm-4">
                  <span class="work-detail">
                    {{taskDescription}}
                  </span>
                </div>
                <div class="block-two col-md-7 col-sm-8">
                  <div class="selected-project col-md-4 col-sm-4">
                    <span class="data">{{projectName}}</span>
                  </div>
                  <div class="date-time large-screen col-md-6 col-sm-6">
                    <div class="no-margin">
                      <div class="time hours col-md-4 col-sm-4">
                        <span class="data">{{hours}} h</span>
                      </div>
                      <div class="time min col-md-4 col-sm-4">
                        <span class="data">{{minutes}} min</span>
                      </div>
                      <div class="time date col-md-4 col-sm-4">
                        <span class="data">{{shortDate}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="trash-icon col-md-2 col-sm-2">
                    <a onclick="editTask({{id}})" class="editData" data-id="{{id}}"><img src="images/edit.svg" /></a>
                    <a onclick="deleteTask({{id}})" class="deleteData" data-id="{{id}}"><img src="images/delete.svg" /></a>
                  </div>
                </div>

              <!-- </div> -->
            </div>
          </li>
          {{/loggedYesterday}}
  {{/worklog}}
</script>
<script id="taskloglist" type="text/x-tmpl-mustache">
  {{#worklog}}
    {{^loggedToday}}
      {{^loggedYesterday}}
        <li class="loggedOlder record col-md-12">
          <!-- <div class="container-fluid"> -->
            <div class="row">
              <div class="worked-on col-md-5 col-sm-4">
                <span class="work-detail">
                  {{taskDescription}}
                </span>
              </div>
              <div class="block-two col-md-7 col-sm-8">
                <div class="selected-project col-md-4 col-sm-4">
                  <span class="data">{{projectName}}</span>
                </div>
                <div class="date-time large-screen col-md-6 col-sm-6">
                  <div class="no-margin">
                    <div class="time hours col-md-4 col-sm-4">
                      <span class="data">{{hours}} h</span>
                    </div>
                    <div class="time min col-md-4 col-sm-4">
                      <span class="data">{{minutes}} min</span>
                    </div>
                    <div class="time date col-md-4 col-sm-4">
                      <span class="data">{{shortDate}}</span>
                    </div>
                  </div>
                </div>
                <div class="trash-icon col-md-2 col-sm-2">
                  <a onclick="editTask({{id}})" class="editData" data-id="{{id}}"><img src="images/edit.svg" /></a>
                  <a onclick="deleteTask({{id}})" class="deleteData" data-id="{{id}}"><img src="images/delete.svg" /></a>
                </div>
              </div>
            </div>
          <!-- </div> -->
        </li>
      {{/loggedYesterday}}
    {{/loggedToday}}
  {{/worklog}}
</script>
