<script id="allocation-detail" type="text/x-tmpl-mustache">
<div class="col-md-8 pull-right allocatedProjects {{#isExpired}}expired{{/isExpired}} {{#expiringSoon}}expiringSoon{{/expiringSoon}}">



    <div class="row">

      <div class="block-two col-md-12">
        <div class="selected-project col-md-4 col-sm-4">
          <span class="data">{{projectName}}</span>
        </div>
        <div class="date-time large-screen col-md-6 col-sm-6">
          <div class="no-margin">
            <div class=" col-md-4 col-sm-4">
              <span class="data">{{allocation}}%</span>
            </div>
            <div class=" col-md-4 col-sm-4">
              <span class="data">{{startDate}}</span>
            </div>
            <div class=" col-md-4 col-sm-4">
              <span class="data">{{endDate}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        <a onclick="editAllocRecord({{allocationid}})" class="editData" data-id="{{allocationid}}"><img src="images/edit.svg" /></a>
        <a onclick="deleteAllocRecord({{allocationid}})"class="deleteAllocation deleteData" data-id="{{allocationid}}"><img src="images/delete.svg" /></a>
        </div>
      </div>
    </div>

</div>
<div class="clearfix"></div>
</script>
